.admission-container {
    background-image: linear-gradient(to right top, #051937, #002a45, #00393e, #004426, #354b04);
    padding: 20px 15px;
    /* padding thoda kam kiya */
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    max-width: 1340px;
    /* container ki width ko limited kiya */
    margin: 40px auto;
    /* center me lane ke liye margin auto + thoda upar niche */
}

.form-title {
    font-size: 24px;
    /* font size thoda chhota */
    color: white;
    font-weight: 600;
    margin-bottom: 25px;
}

.submit-btn,
.reset-btn {
    font-weight: 600;
    padding: 8px 20px;
    /* button padding chhoti ki */
    font-size: 14px;
}

.submit-btn {
    background-color: #007bff;
    border: none;
}

.reset-btn {
    background-color: #6c757d;
    border: none;
}

.submit-btn:hover,
.reset-btn:hover {
    opacity: 0.9;
}

label.form-label {
    color: white;
}